/*For Live Views Page################################################################*/
.LiveBothBlock {
    display: -webkit-flex;
    display: flex;

}
/*Main Block*/
.LiveViewsBlock {
    -webkit-flex: none;
    flex: none;
    width: 512px;
    margin-top: 20px;

    height: 350px;
    border: solid 2px green;
}

/*Main Block*/
.LiveViewsBlock2 {
    -webkit-flex: none;
    flex: none;
    width: 512px;
    margin-top: 20px;

    height: 350px;
    border: solid 2px green;
}

/*實況嵌入*/
#LiveViewframe {
    width: 512px;
    height: 350px;

    /*(IE6)若大於550px就調整*/
    width:expression(document.body.clientWidth&gt;420?"420px""auto");
    overflow:hidden;/*超過不顯示*/
}

/*底層區塊*/
.LiveViewsBlockFooter {
    -webkit-flex: none;
    flex: none;
    width: 512px;
    height: 350px;
    border:solid 2px #5151A2;
    margin-top: 20px;
    /*預留footer block的空間*/
    margin-bottom: 70px;
}

#player {
    max-width: 100%;
    max-height: 100%;
}